<!doctype html>
<html>
<head>
<meta charset="utf8">
<title>首页_西瓜个人博客</title>
<meta name="keywords" content="个人博客,西瓜个人博客,个人博客模板,西瓜" />
<meta name="description" content="西瓜个人博客" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="/wangEditor/dist/css/wangEditor.min.css">
<link href="/boke_fanhua/css/base.css" rel="stylesheet">
<link href="/boke_fanhua/css/index.css" rel="stylesheet">
<link href="/boke_fanhua/css/m.css" rel="stylesheet">

<!--引入wangEditor.css-->




<!--[if lt IE 9]>
<script src="js/modernizr.js"></script>
<![endif]-->
</head>
<body>
<header>
    <div class="logo"><a href="{:url('my_msg')}"><span style="color: coral">{$show_name}</span> 个人博客</a></div>
    <div style="margin-left: 1250px">
      <a href="{:url('blog_login')}">退出登录</a>
  </div>
  <nav id="nav">
    <ul>
      <li><a href="{:url('index')}">博主首页</a></li>
      <li><a href="{:url('new_blog')}">最新博文</a></li>
      <li><a href="{:url('blog_list')}">我的博文</a></li>
      <li><a href="{:url('blog_about')}">我的评论</a></li>
      <li><a href="{:url('blog_atten_my')}">我的关注</a></li>
      <li><a href="{:url('blog_fans')}">我的粉丝</a></li>
      <li><a href="{:url('blog_collect')}">我的收藏</a></li>
    </ul>
  </nav>
  <script>
window.onload = function ()
{
var obj=null;
var As=document.getElementById('nav').getElementsByTagName('a');
obj = As[0];
for(i=1;i<As.length;i++){if(window.location.href.indexOf(As[i].href)>=0)
obj=As[i];}
obj.id='selected'
}
</script> 
</header>
<article>
  <div class="l_box">
    
   
    <div class="search">
      <form action="/e/search/index.php" method="post" name="searchform" id="searchform">
        <input name="keyboard" id="keyboard" class="input_text" value="请输入关键字词" style="color: rgb(153, 153, 153);" onfocus="if(value=='请输入关键字词'){this.style.color='#000';value=''}" onblur="if(value==''){this.style.color='#999';value='请输入关键字词'}" type="text">
        <input name="show" value="title" type="hidden">
        <input name="tempid" value="1" type="hidden">
        <input name="tbname" value="news" type="hidden">
        <input name="Submit" class="input_submit" value="搜索" type="submit">
      </form>
    </div>
    <div class="fenlei">
      <h2>文章分类</h2>
      <ul>
        <li><a href="/">学无止境（33）</a></li>
        <li><a href="/">日记（19）</a></li>
        <li><a href="/">慢生活（520）</a></li>
        <li><a href="/">美文欣赏（40）</a></li>
      </ul>
    </div>
    <div class="tuijian">
      <h2>站长推荐</h2>
      <ul>
        <li><a href="/">你是什么人便会遇上什么人</a></li>
        <li><a href="/">帝国cms 列表页调用子栏目，没有则不显示栏目名称</a></li>
        <li><a href="/">第二届 优秀个人博客模板比赛参选活动</a></li>
        <li><a href="/">个人博客模板《绅士》后台管理</a></li>
        <li><a href="/">你是什么人便会遇上什么人</a></li>
        <li><a href="/">帝国cms 列表页调用子栏目，没有则不显示栏目名称</a></li>
        <li><a href="/">第二届 优秀个人博客模板比赛参选活动</a></li>
        <li><a href="/">个人博客模板《绅士》后台管理</a></li>
      </ul>
    </div>
     <div class="tuijian">
      <h2>点击排行</h2>
      <ul>
        <li><a href="/">你是什么人便会遇上什么人</a></li>
        <li><a href="/">帝国cms 列表页调用子栏目，没有则不显示栏目名称</a></li>
        <li><a href="/">第二届 优秀个人博客模板比赛参选活动</a></li>
        <li><a href="/">个人博客模板《绅士》后台管理</a></li>
        <li><a href="/">你是什么人便会遇上什么人</a></li>
        <li><a href="/">帝国cms 列表页调用子栏目，没有则不显示栏目名称</a></li>
        <li><a href="/">第二届 优秀个人博客模板比赛参选活动</a></li>
        <li><a href="/">个人博客模板《绅士》后台管理</a></li>
      </ul>
    </div>
<div class="cloud">
      <h2>标签云</h2>
      <ul>
        <a href="/">陌上花开</a> <a href="/">校园生活</a> <a href="/">html5</a> <a href="/">SumSung</a> <a href="/">青春</a> <a href="/">温暖</a> <a href="/">阳光</a> <a href="/">三星</a><a href="/">索尼</a> <a href="/">华维荣耀</a> <a href="/">三星</a> <a href="/">索尼</a>
      </ul>
    </div>
    <div class="guanzhu">
      <h2>关注我 么么哒</h2>
      <ul>
        <img src="/boke_fanhua/images/wx.jpg">
      </ul>
    </div>
  </div>
  <div class="r_box">
      {volist name='data' id='v'}
      <li>
        <h3><a href="#">{$v.tmp_tit}</a></h3>
        <p>{$v.article_excerpt|raw}</p>
        <p><span>{$v.issue_time | date="Y-m-d H:i:s"}</span>&nbsp&nbsp&nbsp&nbsp<span>{if $v.article_type==1}<a style="color: green" id="fb">发布</a>{else/}<a style="color: red" id="wfb">未发布</a>{/if}</span></p>
      </li>
      {/volist}
      <li>
        <form action="{:url('blog_list_add')}" method="POST">
          <input type="text" name="tmp_tit" placeholder="文章标题">
          <textarea id="textarea1" name="article_excerpt">
              <p></p>
          </textarea>
          <label>
              <input type="radio" name="article_radio" id="optionsRadios1" 
                 value="0" checked>仅自己
                <input type="radio" name="article_radio" id="optionsRadios1" 
                value="1" checked>公开
           </label>
          <button type="submit" class="btn btn-info" id="btn">博文发布</button>
        </form>
      </li>
    </div>
</article>
</body>
</html>
<!--引入jquery和wangEditor.js-->   <!--注意：javascript必须放在body最后，否则可能会出现问题-->
<script type="text/javascript" src="/wangEditor/dist/js/lib/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/wangEditor/dist/js/wangEditor.min.js"></script>
<script type="text/javascript">
  // 获取元素
  var textarea = document.getElementById('textarea1');
  // 生成编辑器
  var editor = new wangEditor(textarea);
  editor.create();
</script>