<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>西瓜的博客网站</title>

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="/form-1/assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/blog_qian/choose-layout-assets/style.css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="/form-1/assets/ico/favicon.png">

    </head>

    <body>
    
    	<div class="top">
    		<h1>优秀的人就应该和优秀的人在一起</h1>
    		<p>
				<a href="{:url('new_blog_tow')}"><strong>游客登录查看</strong></a>
			</p>
    	</div>
		<div class="bdsharebuttonbox">
			<a href="#" class="bds_more" data-cmd="more"></a>
			<a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
			<a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
			<a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
			<a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a>
		  </div>
		  <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"1","bdMiniList":false,"bdPic":"","bdStyle":"2","bdSize":"24"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
    	<div class="section-container">
	        <div class="container layouts">
	            <div class="row">
	                <div class="col-sm-12 section-description">
	                    <h3>博文登录注册</h3>
	                </div>
	            </div>
	            <div class="row">
	            	<div class="col-sm-10 col-sm-offset-1">
	            		<div class="row">
		                	<div class="col-sm-6 layout-box">
			                	<a href="{:url('blog_login_tow')}">
			                		<img src="/blog_qian/choose-layout-assets/1.jpg" alt="">
			                	</a>
			                	<p>博客登录</p>
		                    </div>
		                    <div class="col-sm-6 layout-box">
		                    	<a href="{:url('blog_register')}">
				                	<img src="/blog_qian/choose-layout-assets/2.jpg" alt="">
			                    </a>
			                    <p>博客注册</p>
		                    </div>
	                    </div>
                    </div>
	            </div>
	        </div>
        </div>
        
    </body>

</html>